@model IEnumerable<Personalsystem.Models.Group>

@{
    ViewBag.Title = "Index";
}

<h3>Groups for @ViewBag.DepartmentName</h3>

@if (User.IsInRole("applicant") || User.IsInRole("admin"))
{
    <p class="subadmin">
        @Html.ActionLink("Create New", "Create", "Group", new { id = ViewBag.DepartmentId }, null)
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "../Group/Users/", new { id = item.Id })
            </td>
            @if (User.IsInRole("admin"))
            {

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to Departments", "../Department/Index/", new { id = ViewBag.DepartmentId })
</div>