@model IEnumerable<Personalsystem.Models.Group>

@{
    ViewBag.Title = "Index";
}

<h2>Groups for</h2>

@if (User.IsInRole("applicant") || User.IsInRole("admin"))
{
    <p class="subadmin">
        @Html.ActionLink("Create New", "CreateGroupForDepartment", "Department", new { id=ViewBag.DepartmentId}, null )
    </p>
}
<table class="table">
    <tr>
        <th>
            <h3>
                @ViewBag.departmentName            @*   @Html.DisplayNameFor(model => model.Name)*@
            </h3>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
               @* @Html.DisplayFor(modelItem => item.Name)*@
                @Html.ActionLink(item.Name, "../Group/Users", new { id = item.Id }, new { id = ViewBag.CompanyId })
            </td>
            @if (User.IsInRole("admin"))
            {

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
@*                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("Invite Users", "../Group/InviteUsersForGroup", new { id = item.Id }, new { id = ViewBag.Id })
                    @*<div class="form-group">
            @Html.LabelFor(model => item.Id, "Group Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Group Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(Modelitem => item.Id, "", new { @class = "text-danger" })
            </div>
        </div>*@
                </td>
            }
        </tr>
    }

</table>
