@model IEnumerable<Personalsystem.Models.Department>
@{
    ViewBag.Title = "Index";
}

<h2>Departments for @ViewBag.Company</h2>

@if (User.IsInRole("applicant") || User.IsInRole("admin"))
{
    <p class="subadmin">
        @Html.ActionLink("Create New", "CreateDepartmentForCompany", "Company", new { id=ViewBag.CompanyId},null)
    </p>
}
@foreach (var item in Model)
{
    <table class="table">
        <tr>
            <th class="col-md-5">
                @Html.DisplayName(item.Name)
            </th>
            @if (User.IsInRole("admin"))
            {
                <th class="col-md-7">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "DetailsForDepartment", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </th>
            }
            else
            {
                <th></th>
            }
        </tr>
        <tr>
            <td>
                @foreach (var group in item.Groups)
                {
                    @Html.ActionLink(group.Name, "../Group/Users", new { id = group.Id, CmpnyId = ViewBag.CompanyId })
                    <br />
                }
            </td>
            <td></td>
        </tr>
    </table>
}
