@model IEnumerable<Personalsystem.Models.Department>
@{
    ViewBag.Title = "Index";
}

<h3>Departments for @ViewBag.Company</h3>

@if (User.IsInRole("applicant") || User.IsInRole("admin"))
{
    <p class="subadmin">
        @Html.ActionLink("Create New", "Create", new { id = ViewBag.CompanyId })
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @if (User.IsInRole("admin"))
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "../Group/Index/", new { id = item.Id })
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to Companies", "../Company/Index/")
</div>