@model Personalsystem.Models.Company
@{
    ViewBag.Title = "Index";
}

<h2>Departments for @Model.Name</h2>

@if (User.IsInRole("applicant") || User.IsInRole("admin"))
{
    <p class="subadmin">
        @Html.ActionLink("Create New", "CreateDepartmentForCompany", new { id= Model.Id })
    </p>
}
@foreach (var item in Model.Departments)
{
    <table class="table" >
        <tr>
            <th class ="col-md-5">
                @Html.DisplayName(item.Name)
            </th>
            @if (User.IsInRole("admin"))
            {
                <th class="col-md-7">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </th>
            }
            else
            {
                <th></th>
            }
        </tr>
        <tr>
            <td>
                @foreach (var group in item.Groups)
                {
                    @Html.ActionLink(group.Name, "../Group/Users", new { id = group.Id })
                }
            </td>
            <td></td>
        </tr>
    </table>
}
