@model IEnumerable<Personalsystem.Models.Company>

@{
    ViewBag.Title = "Companies";
}

<h2>Companies</h2>

@if (User.IsInRole("applicant") || User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
@foreach (var item in Model)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName(item.Name)
            </th>
            @if (User.IsInRole("admin"))
            {
                <th>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </th>
            }
        </tr>
        <tr>
            <td>
                <p>Departments</p>
                @foreach (var dep in item.Departments)
                {
                    @Html.ActionLink(dep.Name, "../Department/Index/", new { id = dep.Id })
                }
            </td>
            <td></td>
        </tr>
    </table>
}