<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Pacdnet</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="logotype" style="width:170px;" src="~/Images/Pacdnet.png" />
            </div>
            <div class="navbar-collapse collapse">
                    @if (User.IsInRole("admin"))
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Admin", "Admin", "Admin")</li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    }
            </div>
        </div>
        <row><div class="container">@Html.Partial("_LoginPartial")</div></row>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="container footer-content" id="footer">
        <div class="col-md-3">
            <h4>För jobbsökande</h4>
            <ul>
                <li>#Link number 1</li>
                <li>#Link number 1</li>
                <li>#Link number 1</li>
                <li>#Link number 1</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4>För chefer</h4>
            <ul>
                <li>#Link number 1</li>
                <li>#Link number 1</li>
                <li>#Link number 1</li>
                <li>#Link number 1</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Balle</h4>
            <ul>
                <li>#Link number 1</li>
                <li>#Link number 1</li>
                <li>#Link number 1</li>
                <li>#Link number 1</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Arbetare</h4>
            <ul>
                <li>#Link number 1</li>
                <li>#Link number 1</li>
                <li>#Link number 1</li>
                <li>#Link number 1</li>
            </ul>
        </div>
        <div class="col-md-12">
            <hr>
            <p>&copy; @DateTime.Now.Year Pacdnet - All Rights Reserved • <a href="https://www.youtube.com/watch?v=wZZ7oFKsKzY">INFO@PACDNET.SE</a></p>
            </div>
</footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
